@import 'compass/css3';

@import 'partials/variables';
@import 'partials/layout';
@import 'partials/default';


/**
 * Styles for IE9+ compatibility
 */

body {
  background: $color-primary;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
}

p, li {
  color: #555;
  font-size: 20px;
}

.svg-bg {
  background: url(../svg/start.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 0;
  width: 100%;
  padding-top: 100%; // for square, override below for different aspect ratio
}


.box {
  width: 400px;
  height: 100%;
  max-width: 100%;
}

// Sun animation on hover
.sun-icon {

  .sunrays,
  .sunball {
    @include animation-name(pulse);
    @include animation-duration(800ms);
    @include animation-iteration-count(infinite);
    @include animation-direction(normal);
    @include animation-timing-function(linear);
    @include transform-origin(50%, 50%, 0, 0);
    @include animation-play-state(paused);
  }

  .whole-sun {
    @include animation-name(rotate);
    @include animation-duration(8s);
    @include animation-iteration-count(infinite);
    @include animation-direction(normal);
    @include animation-timing-function(linear);
    @include transform-origin(50%, 50%, 0, 0);
    @include animation-play-state(paused);

  }
  &:hover {
    .sunrays,
    .whole-sun,
    .sunball {
      @include animation-play-state(running);
    }
  }
}

.sun-icon-gsap .whole-sun {
  @include animation-play-state(paused);
}

@include keyframes(rotate) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@include keyframes(pulse) {
  0% {
    @include transform(scale(1,1));
  }
  50% {
    @include transform(scale(1.1,1.1));
  }
  100% {
    @include transform(scale(1,1));
  }
}

.e3-path {
  stroke-dasharray: 3239.2685546875 3239.2685546875;
  stroke-dashoffset: 0;
  -webkit-animation-name: e3-path-animate;
  -moz-animation-name: e3-path-animate;
  animation-name: e3-path-animate;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
@-webkit-keyframes e3-path-animate {
  0%   { stroke-dashoffset: 3239.2685546875; }
  100% { stroke-dashoffset: 0; }
}
@-moz-keyframes e3-path-animate {
  0%   { stroke-dashoffset: 3239.2685546875; }
  100% { stroke-dashoffset: 0; }
}
@-o-keyframes e3-path-animate {
  0%   { stroke-dashoffset: 3239.2685546875; }
  100% { stroke-dashoffset: 0; }
}
@keyframes e3-path-animate {
  0%   { stroke-dashoffset: 3239.2685546875; }
  100% { stroke-dashoffset: 0; }
}


/**
 * Style for weather icons
 */
.svg-container {
  display: block;
  width: 100px;
  height: 100px;
}
.svg-container svg {
  max-width: 100%;
  max-height: 100%;
}


/**
 * Style for text masking snap.js
 */

#mask {
  font-family: cursive;
  font-weight: bold;
  height: 200px;
  width: 800px;
  display: block;
//  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
}


.shrink-click {
  path,
  polygon,
  circle {
    @include scale(1,1);
    @include transition(1000ms, ease);
    @include transform-origin(50%, 50%);
  }
}
.shrink-click .shrink {
  @include scale(0,0);
}


.sunset {
  .whole-sun {
    .sunrays {
      fill: #a54127;
    }
    .sunball {
      fill: #e1673d;
    }
  }
  .sky {
    fill: #FFDD4B;
  }
  .earth {
    fill: #38694A;
  }
  .path {
    fill: #104122;
  }
}

.sunset-hover {
  .whole-sun,
  .sunrays,
  .sunball,
  .sky,
  .earth,
  .path {
    @include transition(1500ms ease);
  }
  &:hover {
    .whole-sun {
      @include translate(0, 15%);
      .sunrays {
        fill: #a54127;
      }
      .sunball {
        fill: #e1673d;
      }
    }
    .sky {
      fill: #FFDD4B;
    }
    .earth {
      fill: #38694A;
    }
    .path {
      fill: #104122;
    }
  }
}