/* line 1, ../sass/partials/_layout.scss */
.row {
  max-width: 71.25rem;
}

/* line 1, ../sass/partials/_default.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 5, ../sass/partials/_default.scss */
section.main-section {
  padding: 5rem 0;
}
/* line 7, ../sass/partials/_default.scss */
section.main-section:nth-child(2n) {
  background: #aed1f4;
}
/* line 10, ../sass/partials/_default.scss */
section.main-section:nth-child(2n+1) {
  background: #a6ccf3;
}

/**
 * Styles for IE9+ compatibility
 */
/* line 12, ../sass/style.scss */
body {
  background: #a6ccf3;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
}

/* line 18, ../sass/style.scss */
p, li {
  color: #555;
  font-size: 20px;
}

/* line 23, ../sass/style.scss */
.svg-bg {
  background: url(../svg/start.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 0;
  width: 100%;
  padding-top: 100%;
}

/* line 33, ../sass/style.scss */
.box {
  width: 400px;
  height: 100%;
  max-width: 100%;
}

/* line 42, ../sass/style.scss */
.sun-icon .sunrays,
.sun-icon .sunball {
  -moz-animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -moz-animation-duration: 800ms;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-transform-origin: 50% 50% 0;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/* line 53, ../sass/style.scss */
.sun-icon .whole-sun {
  -moz-animation-name: rotate;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -moz-animation-duration: 8s;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-transform-origin: 50% 50% 0;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/* line 64, ../sass/style.scss */
.sun-icon:hover .sunrays,
.sun-icon:hover .whole-sun,
.sun-icon:hover .sunball {
  -moz-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

/* line 72, ../sass/style.scss */
.sun-icon-gsap .whole-sun {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/* line 97, ../sass/style.scss */
.e3-path {
  stroke-dasharray: 3239.2685546875 3239.2685546875;
  stroke-dashoffset: 0;
  -webkit-animation-name: e3-path-animate;
  -moz-animation-name: e3-path-animate;
  animation-name: e3-path-animate;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes e3-path-animate {
  0% {
    stroke-dashoffset: 3239.2685546875;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes e3-path-animate {
  0% {
    stroke-dashoffset: 3239.2685546875;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes e3-path-animate {
  0% {
    stroke-dashoffset: 3239.2685546875;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes e3-path-animate {
  0% {
    stroke-dashoffset: 3239.2685546875;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/**
 * Style for weather icons
 */
/* line 137, ../sass/style.scss */
.svg-container {
  display: block;
  width: 100px;
  height: 100px;
}

/* line 142, ../sass/style.scss */
.svg-container svg {
  max-width: 100%;
  max-height: 100%;
}

/**
 * Style for text masking snap.js
 */
/* line 152, ../sass/style.scss */
#mask {
  font-family: cursive;
  font-weight: bold;
  height: 200px;
  width: 800px;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* line 165, ../sass/style.scss */
.shrink-click path,
.shrink-click polygon,
.shrink-click circle {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: 1000ms, ease;
  -o-transition: 1000ms, ease;
  -webkit-transition: 1000ms, ease;
  transition: 1000ms, ease;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/* line 173, ../sass/style.scss */
.shrink-click .shrink {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

/* line 180, ../sass/style.scss */
.sunset .whole-sun .sunrays {
  fill: #a54127;
}
/* line 183, ../sass/style.scss */
.sunset .whole-sun .sunball {
  fill: #e1673d;
}
/* line 187, ../sass/style.scss */
.sunset .sky {
  fill: #FFDD4B;
}
/* line 190, ../sass/style.scss */
.sunset .earth {
  fill: #38694A;
}
/* line 193, ../sass/style.scss */
.sunset .path {
  fill: #104122;
}

/* line 199, ../sass/style.scss */
.sunset-hover .whole-sun,
.sunset-hover .sunrays,
.sunset-hover .sunball,
.sunset-hover .sky,
.sunset-hover .earth,
.sunset-hover .path {
  -moz-transition: ease 1500ms;
  -o-transition: ease 1500ms;
  -webkit-transition: ease 1500ms;
  transition: ease 1500ms;
}
/* line 208, ../sass/style.scss */
.sunset-hover:hover .whole-sun {
  -moz-transform: translate(0, 15%);
  -ms-transform: translate(0, 15%);
  -webkit-transform: translate(0, 15%);
  transform: translate(0, 15%);
}
/* line 210, ../sass/style.scss */
.sunset-hover:hover .whole-sun .sunrays {
  fill: #a54127;
}
/* line 213, ../sass/style.scss */
.sunset-hover:hover .whole-sun .sunball {
  fill: #e1673d;
}
/* line 217, ../sass/style.scss */
.sunset-hover:hover .sky {
  fill: #FFDD4B;
}
/* line 220, ../sass/style.scss */
.sunset-hover:hover .earth {
  fill: #38694A;
}
/* line 223, ../sass/style.scss */
.sunset-hover:hover .path {
  fill: #104122;
}
