h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

section.main-section {
  padding: 5rem 0;
  &:nth-child(2n) {
    background: tint($color-primary, 10%);
  }
  &:nth-child(2n+1) {
    background: $color-primary;
  }
}